@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.nav-bar-design{
    height: 60px;
    width: 100%;
    position: relative;
    background-color: #6B8E23;
    box-shadow: 0px 0px 5px 4px #A9A9A9;
}

.nav-bar-logo{
    height: 45px;
    padding-top: 5px;
    padding-left: 80px;
    display: inline-block;
}

.nav-bar-category-listing {
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    display: flex;
    margin: 0px 0px 0px 100px;
    top: 20px;
    font-size: 16px;
    left: 60px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    cursor: pointer;
    width: 300px;
    padding-left: 0px;
    justify-content: space-evenly;
}

.linker{
  text-decoration: none;
  color: white;
}
.linker:hover{
  text-decoration: none;
  color: white;
}
.nav-bar-category-item1:after{
  content: '';

  position: absolute;
  width: 20%;
  transform: scaleX(0);
  top: 20px;

  height: 2px;
  bottom: 0;
  border-radius: 50px;
  left: 10px;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}
.nav-bar-category-item1:hover:after{
    transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-bar-category-item2:after{
    content: '';
    position: absolute;
    width: 27%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    border-radius: 50px;

    top: 20px;

    left: 70px;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }
  .nav-bar-category-item2:hover:after{
      transform: scaleX(1);
    transform-origin: bottom left;
  }
  .nav-bar-category-item3:after{
    content: '';
    position: absolute;
    width: 14%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    border-radius: 50px;
    top: 20px;

    left: 155px;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }
  .nav-bar-category-item3:hover:after{
      transform: scaleX(1);
    transform-origin: bottom left;
  }
  .nav-bar-category-item4:after{
    content: '';
    position: absolute;
    width: 30%;
    transform: scaleX(0);
    height: 2px;
    top: 20px;
    border-radius: 50px;
    left: 200px;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }
  .nav-bar-category-item4:hover:after{
      transform: scaleX(1);
    transform-origin: bottom left;
  }

  .nav-bar-cart{
    font-size: 25px;
    margin: 0 0 0 auto;
    position: absolute;
    color: black;
    right: 140px;
    cursor: pointer;
    top: 20px;
  }

  .nav-bar-cart-dark{
    font-size: 25px;
    margin: 0 0 0 auto;
    position: absolute;
    cursor: pointer;
    right: 140px;
    color: white;
    top: 20px;
  }

  .nav-bar-toggle{
    height: 30px;
    margin: 0 0 0 auto;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 40px;
    top: 15px;
  }