.cart-page-view{
    position:absolute;
    height: 100vh;
    width: 100%;
    display: flex;
}

.card-page-list{
    display: block;
    height: 100vh;
}

.cart-page-card{
    height: 180px;
    background-color: white;
    width: 700px;
    padding-top: 10px;
    border-radius: 5px;
    position: relative;
    box-shadow: 2px 2px 10px 0px #A9A9A9;
    margin-top: 20px;
    margin-left: 80px;
}

.cart-item-column{
    /* margin-left: 20px; */
    text-align: left;
    margin-left: 190px;
    margin-top: 15px;

}

.cart-page-product-image{
    height: 100px;
    display: flex;
    position: absolute;
    justify-content: flex-start;
    align-content: center;
    left: 40px;
    top: 50px;
}

.cart-page-product-name{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.cart-page-product-delete{
    height: 30px;
    display: flex;
    position: absolute;
    right: 15px;
}
.cart-page-product-quantity{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-top: 40px;
    font-size: 20px;
}


.cart-page-product-quantity-increase{
    padding: 5px;
    text-align: center;
    background-color: #6B8E23;
    color: white;
    height: 20px;
    margin-top: 8px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}
.cart-page-product-quantity-value{
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
}
.cart-page-product-quantity-decrease{
    background-color: #6B8E23;
    border-radius: 20px;
    color: white;
    padding: 5px;
    border: none;
    text-align: center;
    margin-top: 8px;
    height: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}

.cart-page-product-price{
    display: flex;
    position: absolute;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    top: 90px;
    font-size: 25px;
    left: 450px;
}

.cart-page-no-data{
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin: auto;
    justify-content: center;
}